<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="#">RPG References</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href ="{% url 'index' %}"> Home </a>
                <a class="nav-item nav-link" href ="{% url 'spell_list' %}"> Classic Spell List </a>
                <a class="nav-item nav-link" href ="{% url 'table_list' %}"> Tabular Spell List </a>
                <a class="nav-item nav-link" href ="#"> Join Our Discord! </a>
            </div>
        </div>
</nav>
