body {
    padding-top: 70px;
    margin-left: 40px;
    background-color: #ece6d9;
    font-family: Lato;
    font-size: 12pt;
}


h1, h2, h3, h4 {
    color: darkred;
    font-family: Lato;
}

h1 {
    font-size: 36pt;
}

h2{
    font-size: 30pt;
}

h3{
    font-size: 20pt;
}

.statblock{
    color: darkkhaki;
    font-weight: bold;
    font-size: 12pt;
    font-family: Lato;
}